asgiref==3.8.1
atomicwrites==1.4.1
attrs==22.1.0
beautifulsoup4==4.11.2
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==2.0.12
colorama==0.4.6
coreapi==2.3.3
coreschema==0.0.4
cryptography==44.0.2
defusedxml==0.7.1
Django==4.2.10
django-bootstrap5==22.2
django-cors-headers==4.3.1
django-filter==23.1
django-templated-mail==1.1.1
django_debug_toolbar==3.8.1
djangorestframework==3.14.0
djangorestframework_simplejwt==5.5.0
djoser==2.2.0
enchant==0.0.1
Faker==12.0.1
flake8==5.0.4
gunicorn==23.0.0
idna==3.10
iniconfig==1.1.1
itypes==1.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
mccabe==0.7.0
mixer==7.2.2
oauthlib==3.2.2
packaging==21.3
pillow==10.2.0
pluggy==0.13.1
psycopg2==2.9.10
psycopg2-binary==2.9.9
py==1.11.0
pycodestyle==2.9.1
pycparser==2.22
pyenchant==3.2.2
pyflakes==2.5.0
pygame==2.5.2
PyJWT==2.9.0
pyparsing==3.0.9
pyTelegramBotAPI==4.25.0
pytest==6.2.4
pytest-django==4.4.0
pytest-pythonpath==0.7.3
python-dateutil==2.8.2
python-dotenv==1.0.1
python3-openid==3.2.0
pytz==2022.6
PyYAML==6.0.2
requests==2.26.0
requests-oauthlib==2.0.0
schedule==1.2.2
six==1.16.0
social-auth-app-django==5.4.3
social-auth-core==4.5.6
soupsieve==2.6
sqlparse==0.4.3
telebot==0.0.5
toml==0.10.2
tomli==2.0.1
typing_extensions==4.12.2
tzdata==2024.2
uritemplate==4.1.1
urllib3==1.26.20
webcolors==24.11.1
whitenoise==6.8.2
yapf==0.32.0
